@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('Ubuntu-L_W.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('Ubuntu-R_W.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('Ubuntu-LI_W.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('ubuntu-ri-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: url('Ubuntu-Th_W.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 300;
  src: url('UbuntuMono-R_W.woff2') format('woff2');
}

html {
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

body {
  font-size: .75rem;
}

pre,
code,
.code {
  font-family: 'Ubuntu Mono', monospace;
}
