<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GCE</title>
    <link href="assets/styles.css" media="all" rel="stylesheet" />
    <!-- <script src="assets/vue.min.js"></script> -->
    <script src="assets/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-show="closing || configError" id="closing" style="display: none">
        <p v-if="configError">Unable to load config file:<br><small>{{ configError }}</small><br><br><a href="https://github.com/Dewep/GCE" @click.prevent="openLink('https://github.com/Dewep/GCE')">How to configure GCE?</a></p>
        <p v-else>Stopping processes before closing GEC... <a @click="forceClose()">Force close</a></p>
      </div>
      <div id="main">
        <ul v-show="menu" id="menu" style="display: none">
          <li v-for="(commands, section) in menu" :key="section">
            <span>{{ section }}</span>
            <ul>
              <li
                v-for="(cmd, $index) in commands"
                :key="'cmd-' + $index"
                :class="{ active: active && active.slug === cmd.slug, stopped: status[cmd.slug] === 0, running: status[cmd.slug] === 1, waiting: status[cmd.slug] === 2, error: status[cmd.slug] === 3 }"
                @click="selectCmd(cmd)"
              >
                <a class="start tooltip tooltip-left" data-tooltip="Start" @click="start(cmd)">►</a>
                <a class="stop tooltip tooltip-left" data-tooltip="Stop" @click="stop(cmd)">■</a>
                <a v-show="!cmd.subcmd" class="restart tooltip tooltip-left" data-tooltip="Restart" @click="restart(cmd)">↻</a>
                <sup v-show="active && active.slug !== cmd.slug && unread[cmd.slug]">•</sup>
                <b>{{ cmd.title }}</b>
              </li>
            </ul>
          </li>
        </ul>
        <div id="content" ref="scrollableContent">
          <template v-if="active && active.slug && content[active.slug] && content[active.slug].length">
            <div
              v-for="(line, $index) in content[active.slug]"
              :key="'content-' + active.slug + '-' + $index"
              :data-time="line.time"
              v-html="line.data"
              :class="line.type"/>
          </template>
          <div class="home" v-else>
            <img src="assets/icon.png" alt="GCE" width="125"><br><br>
            <b>GCE</b><br>
            <small>Global Commands Execution</small><br><br>
            <small><a href="https://github.com/Dewep/GCE" @click.prevent="openLink('https://github.com/Dewep/GCE')">github.com/Dewep/GCE</a></small>
          </div>
        </div>
      </div>
      <ul id="status-bar" v-show="menu" style="display: none">
        <li class="version"><a class="tooltip" data-tooltip="Restart the application" href="#" @click.prevent="window.location.reload()">Restart GCE {{ window.GCEVersion }}</a></li>
        <template v-if="active && active.slug">
          <li>
            <a @click="clear(active)" :class="{ disabled: !content[active.slug] || !content[active.slug].length }">Clear</a>
          </li>
          <li v-for="(extra, $index) in active.extra" :key="'extra-' + active.slug + '-' + $index">
            <a @click="runSubCommand(extra)" :class="{ disabled: !extra.detached && status[active.slug] !== 0 && status[active.slug] !== 3 }">{{ extra.name || extra.cmd || extra }}</a>
          </li>
        </template>
        <li v-if="active && active.url">
          <a :href="active.url" class="tooltip" data-tooltip="Open in browser" @click.prevent="openLink(active.url)">{{ active.urlText || active.url }}</a>
        </li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
