@import 'variables';

.sidebar {
  background: $bg-color-sidebar;
  width: 16rem;

  a {
    &,
    &:link,
    &:visited {
      color: $light-color;
    }

    &:hover,
    &:focus,
    &:active {
      background: $bg-color-sidebar-light;
      color: $light-color;
    }

    &.active {
      background: $selection-color;
      color: $light-color;
    }

    a {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background: $gray-color-dark;
      }
    }
  }

  .dashboard {
    border: .05rem solid $gray-color-dark;
    border-radius: .2rem;
    display: inline-block;
    margin-top: .5rem;
    padding: .3rem .8rem;

    img {
      height: .6rem;
    }

    b {
      margin: 0 .3rem;
    }
  }

  h2 {
    font-weight: 100;
    margin: 0;
  }

  .directory {
    display: none;
  }

  .project {
    margin: .5rem 0;

    &.opened {
      .directory {
        display: block;
      }
    }
  }

  .project-title {
    h2,
    a,
    sup {
      font-size: .7rem;
      padding: .4rem .3rem .3rem;
    }

    h2 {
      text-transform: uppercase;
    }

    .toggle-open {
      visibility: hidden;
    }

    &:hover {
      .toggle-open {
        visibility: visible;
      }
    }
  }

  .git-modifs {
    color: $error-color;
  }

  .git-origin-up {
    color: $error-color;
  }

  .git-origin-down {
    color: $warning-color;
  }

  .directory-title {
    h2,
    a,
    sup {
      font-size: .7rem;
      font-weight: 500;
      padding: .4rem .3rem .1rem;
    }

    h2 {
      padding-left: 1.2rem;
    }

    .extra-git {
      // opacity: .7;
      padding: .15rem .3rem;
    }
  }

  .command {
    h2,
    a,
    sup {
      font-size: .7rem;
      padding: .2rem .3rem;
    }

    h2 {
      padding-left: 2rem;
    }

    .start,
    .stop,
    .restart {
      display: none;
      font-size: 120%;
      padding: .1rem .3rem;
    }

    &.status-running {
      h2 {
        color: $success-color;
      }
    }

    &.status-starting {
      h2 {
        color: $warning-color;
      }
    }

    &.status-started {
      h2 {
        color: $blue-color;
      }
    }

    &.status-error {
      h2 {
        color: $error-color;
      }
    }

    .start {
      color: $success-color;
    }

    .stop {
      color: $error-color;

      span {
        display: block;
        transform: translate(0, .05rem);
      }
    }

    .restart {
      color: $blue-color;

      span {
        display: block;
        transform: translate(0, .1rem);
      }
    }

    .unread {
      span {
        display: block;
        transform: translate(0, .05rem);
      }
    }

    &.status-stopped,
    &.status-error {
      .start {
        display: block;
      }
    }

    &.status-starting,
    &.status-started {
      .stop {
        display: block;
      }
    }

    &.status-running {
      .stop,
      .restart {
        display: block;
      }
    }
  }
}
