*,
::after,
::before {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a, a:link, a:visited {
  color: #de935f;
  text-decoration: none; }

a:hover, a:focus, a:active, a.active {
  color: #e2a174;
  text-decoration: none; }

html,
body,
#app {
  background: #1d1f21;
  color: #c5c8c6;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

::-webkit-scrollbar {
  height: 6px;
  width: 6px; }

::-webkit-scrollbar-track {
  border-radius: 2px;
  box-shadow: inset 0 0 10px rgba(178, 148, 187, 0.7); }

::-webkit-scrollbar-thumb {
  background: #b294bb;
  border-radius: 2px; }

::selection {
  background: #373b41; }

::-moz-selection {
  background: #373b41; }

.flex-column {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.flex-row {
  display: flex;
  flex-direction: row;
  overflow: hidden; }

.flex-fixed {
  flex: 0 0 auto;
  overflow: hidden; }

.flex-extensible {
  flex: 1 1 auto;
  overflow: auto; }

.flex-extensible-fixed {
  flex: 1 1 auto;
  overflow: hidden; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url("Ubuntu-L_W.woff2") format("woff2"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("Ubuntu-R_W.woff2") format("woff2"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url("Ubuntu-LI_W.woff2") format("woff2"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url("ubuntu-ri-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: url("Ubuntu-Th_W.woff2") format("woff2"); }

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 300;
  src: url("UbuntuMono-R_W.woff2") format("woff2"); }

html {
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }

body {
  font-size: .75rem; }

pre,
code,
.code {
  font-family: 'Ubuntu Mono', monospace; }

.tooltip {
  position: relative; }
  .tooltip::after {
    background: rgba(181, 189, 104, 0.7);
    border-radius: .4rem;
    bottom: 100%;
    color: #373b41;
    content: attr(data-tooltip);
    display: block;
    font-size: .7rem;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: .1rem .4rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, 0.4rem);
    transition: all .2s ease;
    white-space: pre;
    z-index: 300; }
  .tooltip:focus::after, .tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%, -0.2rem); }
  .tooltip.tooltip-left::after {
    bottom: 50%;
    left: auto;
    right: 100%;
    transform: translate(0.4rem, 50%); }
  .tooltip.tooltip-left:focus::after, .tooltip.tooltip-left:hover::after {
    opacity: 1;
    transform: translate(-0.2rem, 50%); }

.sidebar {
  background: #242729;
  width: 16rem; }
  .sidebar a, .sidebar a:link, .sidebar a:visited {
    color: #c5c8c6; }
  .sidebar a:hover {
    background: #292c2f;
    color: #c5c8c6; }
  .sidebar a:focus, .sidebar a:active, .sidebar a.active {
    background: #373b41;
    color: #c5c8c6; }
  .sidebar a .code:focus, .sidebar a .code:active, .sidebar a .code.active {
    background: #242729; }
  .sidebar h2 {
    font-weight: 100;
    margin: 0; }
  .sidebar .project {
    margin: .5rem 0; }
  .sidebar .project-title h2,
  .sidebar .project-title a,
  .sidebar .project-title sup {
    font-size: .7rem;
    padding: .4rem .3rem .3rem; }
  .sidebar .project-title h2 {
    text-transform: uppercase; }
  .sidebar .project-title .toggle-open {
    visibility: hidden; }
  .sidebar .project-title:hover .toggle-open {
    visibility: visible; }
  .sidebar .extra-info {
    font-size: 70%;
    opacity: .7; }
  .sidebar .git-origin-up {
    color: #cc6666; }
  .sidebar .git-origin-down {
    color: #de935f; }
  .sidebar .directory-title h2,
  .sidebar .directory-title a,
  .sidebar .directory-title sup {
    font-size: .7rem;
    font-weight: 500;
    padding: .4rem .3rem .1rem; }
  .sidebar .directory-title h2 {
    padding-left: 1.2rem; }
  .sidebar .command h2,
  .sidebar .command a,
  .sidebar .command sup {
    font-size: .7rem;
    padding: .2rem .3rem; }
  .sidebar .command h2 {
    padding-left: 2rem; }
  .sidebar .command .start,
  .sidebar .command .stop,
  .sidebar .command .restart {
    display: none;
    font-size: 120%;
    padding: .1rem .3rem; }
  .sidebar .command.status-running h2 {
    color: #b5bd68; }
  .sidebar .command.status-starting h2 {
    color: #de935f; }
  .sidebar .command.status-started h2 {
    color: #81a2be; }
  .sidebar .command.status-error h2 {
    color: #cc6666; }
  .sidebar .command .start {
    color: #b5bd68; }
  .sidebar .command .stop {
    color: #cc6666; }
    .sidebar .command .stop span {
      display: block;
      transform: translate(0, 0.05rem); }
  .sidebar .command .restart {
    color: #81a2be; }
    .sidebar .command .restart span {
      display: block;
      transform: translate(0, 0.1rem); }
  .sidebar .command .unread span {
    display: block;
    transform: translate(0, 0.05rem); }
  .sidebar .command.status-stopped .start, .sidebar .command.status-error .start {
    display: block; }
  .sidebar .command.status-starting .stop, .sidebar .command.status-started .stop {
    display: block; }
  .sidebar .command.status-running .stop,
  .sidebar .command.status-running .restart {
    display: block; }
  .sidebar > .footer {
    border-top: 0.1rem solid #1d1f21; }
    .sidebar > .footer a {
      padding: .5rem .3rem;
      text-align: center; }


/*# sourceMappingURL=app.css.map*/