@font-face {
  font-family: "Cascadia Code";
  src: url("/Cascadia.ttf") format("truetype");
}
@font-face {
  font-family: "Cascadia Code Mono";
  src: url("/CascadiaMono.ttf") format("truetype");
}

html, body, #app {
  padding: 0;
  margin: 0;
  background: #1d1f21;
  color: #c5c8c6;
  width: 100%;
  height: 100%;
  font-family: 'Cascadia Code Mono', 'Cascadia Code', Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: .7rem;
  height: .7rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1rem rgba(55, 59, 65, 0.7);
  border-radius: .2rem;
}
::-webkit-scrollbar-thumb {
  border-radius: .2rem;
  background: #373b41;
}
::selection {
  background: #81a2be; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #81a2be; /* Gecko Browsers */
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */
a, a:link, a:visited {
  color: #969896;
  text-decoration: underline;
  cursor: pointer;
}
a:hover, a:focus, a:active, a.router-link-active {
  color: #c5c8c6;
}

.tooltip {
  position: relative;
}
.tooltip::after {
  background: rgba(181, 189, 104, 0.7);
  border-radius: .4rem;
  bottom: 100%;
  color: #373b41;
  content: attr(data-tooltip);
  display: block;
  font-size: .7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: .1rem .4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%,.4rem);
  transition: all .2s ease;
  white-space: pre;
  z-index: 300;
}
.tooltip:focus::after, .tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%,-.2rem);
}
.tooltip.tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(.4rem,50%);
}
.tooltip.tooltip-left:focus::after, .tooltip.tooltip-left:hover::after {
  transform: translate(-.2rem,50%);
}

.toast-error, .toast-info {
  padding: .5rem;
  background: #3e2222;
  border: .1rem solid #772c2c;
  border-radius: .2rem;
  margin: 1rem .5rem;
}
.toast-info {
  background: #24223e;
  border-color: #413b88;
}

button {
  background: #24223e;
  border: .1rem solid #413b88;
  color: #969896;
  border-radius: 0.2rem;
  padding: .3rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover, button:active, button:focus, button.active, button.router-link-active {
  color: #c5c8c6;
}

#app {
  display: flex;
  flex-direction: column;
}
